<div class="col-lg-2">
	<div class="form-group">
		<label>Check Circle Area</label>
		<input class="form-control" placeholder="Circle Area" [(ngModel)]="areaCircle">	
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaCircle()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Check Square Area</label>
		<input class="form-control" placeholder="Square Area" [(ngModel)]="areaSquare">	
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaSquare()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Check Rectangle Area</label>
		<input class="form-control" placeholder="Rectangle Width" [(ngModel)]="rectangleHeight">
		<input class="form-control" placeholder="Rectangle Height" [(ngModel)]="rectangleWidth">	
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaRectangle()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Check Triangle Area</label>
		<input class="form-control" placeholder="Triangle Base" [(ngModel)]="triangleBase">
		<input class="form-control" placeholder="Triangle Height" [(ngModel)]="triangleHeight">	
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangle()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Check Triangle Area</label>
		<input class="form-control" placeholder="First Side" [(ngModel)]="triangleFirstSide">
		<input class="form-control" placeholder="Second Side" [(ngModel)]="triangleSecondSide">
		<input class="form-control" placeholder="Third Side" [(ngModel)]="triangleThirdSide">	
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>


<div class="col-lg-2">
	<div class="form-group">
		<label>Decimal To Binary</label>
		<input class="form-control" placeholder="Decimal To Binary" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Decimal To Hexadecimal</label>
		<input class="form-control" placeholder="Decimal To Hexadecimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Decimal To Octal</label>
		<input class="form-control" placeholder="Decimal To Octal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Farenheight To Celcius</label>
		<input class="form-control" placeholder="Farenheight To Celcius" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Celcius To Farenheight</label>
		<input class="form-control" placeholder="Celcius To Farenheight" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kelvin To Celcius</label>
		<input class="form-control" placeholder="Kelvin To Celcius" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Celcius To Kelvin</label>
		<input class="form-control" placeholder="Celcius To Kelvin" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kelvin To fahrenheit</label>
		<input class="form-control" placeholder="Kelvin To fahrenheit" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>fahrenheit To Kelvin</label>
		<input class="form-control" placeholder="fahrenheit To Kelvin" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Binary To Decimal</label>
		<input class="form-control" placeholder="Binary To Decimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Hexadecimal To Decimal</label>
		<input class="form-control" placeholder="Hexadecimal To Decimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Octal to Decimal</label>
		<input class="form-control" placeholder="Octal to Decimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram To Pound</label>
		<input class="form-control" placeholder="Kilogram To Pound" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Pound to Kilogram</label>
		<input class="form-control" placeholder="Pound to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Gram</label>
		<input class="form-control" placeholder="Kilogram to Gram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Gram to Kilogram</label>
		<input class="form-control" placeholder="Gram to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Ounce</label>
		<input class="form-control" placeholder="Kilogram to Ounce" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Ounce to Kilogram</label>
		<input class="form-control" placeholder="Ounce to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Carat</label>
		<input class="form-control" placeholder="Kilogram to Carat" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Carat to Kilogram</label>
		<input class="form-control" placeholder="Carat to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Ton</label>
		<input class="form-control" placeholder="Kilogram to Ton" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Octal to Decimal</label>
		<input class="form-control" placeholder="Octal to Decimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Ton to Kilogram</label>
		<input class="form-control" placeholder="Ton to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Quintal</label>
		<input class="form-control" placeholder="Kilogram to Quintal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Quintal to Kilogram</label>
		<input class="form-control" placeholder="Quintal to Kilogram" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Quarter (US)</label>
		<input class="form-control" placeholder="Kilogram to Quarter (US)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Octal to Decimal</label>
		<input class="form-control" placeholder="Octal to Decimal" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Quarter to Kilogram (US)</label>
		<input class="form-control" placeholder="Quarter to Kilogram (US)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Quarter (UK)</label>
		<input class="form-control" placeholder="Kilogram to Quarter (UK)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Quarter to Kilogram (UK)</label>
		<input class="form-control" placeholder="Quarter to Kilogram (UK)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Stone (US)</label>
		<input class="form-control" placeholder="Kilogram to Stone (US)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Stone to Kilogram (US)</label>
		<input class="form-control" placeholder="Stone to Kilogram (US)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Kilogram to Stone (UK)</label>
		<input class="form-control" placeholder="Kilogram to Stone (UK)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Stone to Kilogram (UK)</label>
		<input class="form-control" placeholder="Stone to Kilogram (UK)" [(ngModel)]="triangleFirstSide">			
		<button type="button" class="btn btn-outline btn-primary" (click)="checkAreaTriangleFromThreeSides()">Check</button>	
	</div>
</div>
