<div class="col-lg-2">
	<div class="form-group">
		<label>Default Date</label>
		<input class="form-control" placeholder="Default Date" [(ngModel)]="defaultDate">	
		<button type="button" class="btn btn-outline btn-primary" (click)="getDefaultDate()">Get Default Date</button>	
	</div>
</div>

<div class="col-lg-2">
	<div class="form-group">
		<label>Default Date</label>
		<input class="form-control" placeholder="Default Date" [(ngModel)]="defaultDate">	
		<button type="button" class="btn btn-outline btn-primary" (click)="getDefaultDate()">Get Default Date</button>	
	</div>
</div>