<blockquote>
	<h3> <p class="text-primary"> Find more than 10 million dictionary words meaning with example.</p> </h3>
</blockquote>

<br/> <br/>

<div align="center">
	<label>Enter Word here</label>
	&nbsp;&nbsp;&nbsp;&nbsp;
   		
    <input class="myTextbox" [(ngModel)]="word">
	<br/><br/>
    <button type="button" class="btn btn-primary" (click)="getMeaning()">Get UUIDs</button>
    <br/> <br/> <br/>
    
    <p class="lead"> {{meaning}} </p>
    
    <p class="lead"> {{example}} </p>
    
        
        
</div>

