<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Technical Tools
        </div>
        <div class="panel-body">
           <ul>
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link">Generate UUID</a> </li>
           	<li> <a [routerLink]="['/bankUtils']" class="btn btn-link"> Bank Utils</a> </li>
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link"> Arithmetic Operations</a> </li>
           </ul> 
        </div>
        <div class="panel-footer">
            Tools
        </div>
    </div>
</div>