<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Technical Tools
        </div>
        <div class="panel-body">
           <ul>
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link">Generate UUID</a> </li>
           	<li> <a [routerLink]="['/bankUtils']" class="btn btn-link"> Bank Utils</a> </li>
           	<li> <a [routerLink]="['/checker']" class="btn btn-link"> Checkers</a> </li>
           	<li> <a [routerLink]="['/converters']" class="btn btn-link"> Converters</a> </li>
           	<li> <a [routerLink]="['/dateTools']" class="btn btn-link"> Date Tools</a> </li>
           </ul> 
        </div>
        <div class="panel-footer">
            Tools
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            General Tools
        </div>
        <div class="panel-body">
           <ul>
           	<li> <a [routerLink]="['/dictionary']" class="btn btn-link">Dictionary</a> </li>  
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link">Abbrevations</a> </li>
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link">Quran</a> </li>
           	<li> <a [routerLink]="['/uuid']" class="btn btn-link">Bible</a> </li>         	
           </ul> 
        </div>
        <div class="panel-footer">
            Tools
        </div>
    </div>
</div>